{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
 <title>grocerr</title>
 <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />
 <script src="{% static 'js/script.js' %}" defer>
 </script>
</head>

<body>
 {%block content%}

 {% endblock %}
 <nav class=" navbar">
  <div class="homeLogo">Grocerr</div>
  <div class="navOptions">
   <div class="home">
    Home
   </div>
   <div class="myRecipes">My Recipes</div>
  </div>
  <div class="account">Account</div>
 </nav>

 <div class="getRecipe">
  <form method="post">
   {% csrf_token %}
   <button class="getRecipe" type="submit" name="run_script">
    Run Script
   </button>
  </form>
 </div>

 <div class="mainContent">
  <div class="window">
   <div id="recipeName"></div>
   <div id="recipeCost"></div>
   <div id="recipeRating"></div>
   <div id="recipeIngredients">Ingredients:</div>
  </div>
 </div>


 <footer class="footer">
 </footer>

</body>

</html>