{% load static %}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>
 <title>Grocerr</title>
 <link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

</head>

<body>
 {%include 'nav.html'%}

 <div class=" getRecipe">

 </div>


 <div class="mainContent">

  <a href="/recipegen/" class="getRecipe">
   <!-- <button class="getRecipe" type="submit" name="run_script"> -->
   Get Recipes
   <!-- </button> -->
  </a>

  {% block 'recipeDisplayWindow' %}
  {% endblock %}

 </div>



 <footer class="footer">
 </footer>

 <script> type = "text/javascript"
  var recipeList = JSON.parse("{{recipe_list|escapejs}}");
 </script>
 <script src="{% static 'js/script.js' %}" defer></script>
</body>

</html>