{%load static%}
<nav class="navbar">
 <a href="/">
  <div class="homeLogo">Grocerr</div>
 </a>
 <div class="navOptions">
  <a href="/">
   <div class="home">
    Home
   </div>
  </a>
  {% if user.is_authenticated %}
  <a href="{% url 'myrecipes' %}">
   <div class="myRecipes">My Recipes</div>
  </a>
  {% endif %}
 </div>

 {% if user.is_authenticated %}
 <a class="nav-item nav-link" href="#">{{user.username}}</a>
 <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
 {% else %}
 <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
 <a class="nav-item nav-link" href="{% url 'register' %}">Register</a>
 {% endif %}

</nav>